.back-button {
  // transform-origin: left center;
  transform: translateX(-5rem);
  position: absolute;
  width: 10rem;
  height: 3rem;
  // top: 20px;
  left: 0;

  background: #2b2b2b;
  color: white;

  border: none;

  font-weight: bold;
  text-transform: uppercase;
  flex-direction: row-reverse;

  cursor: pointer;

  transition: all 0.3s ease;

  display: flex;
  align-items: center;
}

.back-button:hover {
  transform: translateX(-2rem);
  // padding-right: 40px;
  background: #3a3a3a;
}

